/Exemplos/JavaServlet1/target/
/Exemplos/JavaServlet2/JavaServlet2/target/
/Exemplos/JavaServlet3/target/
/Exemplos/JavaServlet4/target/
/Exemplos/JavaServlet5/target/
/Exemplos/JavaServlet6/target/
/Exemplos/JavaServlet7/target/
/Exemplos/JavaServlet8/target/
/Exemplos/Jsf1/target/
/Exemplos/Jsf2/target/
/Exemplos/Jsf3/target/
/Exemplos/Jsf4/target/
/Exemplos/Jsf5/target/
/Exemplos/CriandoJSF/target/
/Exemplos/Ejb1/Ejb1-ejb/target/
/Exemplos/Ejb1/Ejb1-web/target/
/Exemplos/Ejb1/Ejb1-ear/target/
/Exemplos/Ejb1/target/
/Exemplos/Ejb2/Ejb2-comum/target/
/Exemplos/Ejb2/Ejb2-ejb/target/
/Exemplos/Ejb2/Ejb2-web/target/
/Exemplos/Ejb2/Ejb2-ear/target/
/Exemplos/CriandoEJB/target/
/Exemplos/Jpa1/target/
/Exemplos/Jpa2/target/
/Exemplos/CriandoJPA/target/